@using EMRSimulation.Domain.Dtos;
@model IEnumerable<MedicationDto>

<div class="container">
    <div class="row section">
        <!-- Left Column -->
        <!-- Right Column -->

        <div class="col-md-8">

            <div class="form-group row mb-1" style="background-color: black;color: white;">
                <div class="col-sm-7">
                    <label class="col-sm-5 col-form-label">MEDICATION CHART - PRN</label>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnDate" class="form-label">Dose Date</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnDate" autocomplete="off" />
                </div>
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnTime" class="form-label">Dose Time</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnTime" autocomplete="off" />
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-3">
                    <label for="ddlMedicationPrnName" class="form-label">Medication</label>
                </div>
                <div class="col-sm-3">
                    <select id="ddlMedicationPrnName" class="col-form-label" style="width:100%">
                        <option value="">--Select Medication--</option> <!-- Empty first option -->
                        @foreach (var medication in Model)
                        {
                            <option value="@medication.Id">@medication.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnRoute" class="form-label">Route</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnRoute" autocomplete="off" />
                </div>
                
            </div>

            <div class="row mb-1">
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnDose" class="form-label">Max PRN dose/ 24 hr</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnDose" autocomplete="off" />
                </div>
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnFrequency" class="form-label">Frequency</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnFrequency" autocomplete="off" />
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnIndication" class="form-label">Indication</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnIndication" autocomplete="off" />
                </div>
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnPharmacy" class="form-label">Pharmacy</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnPharmacy" autocomplete="off" />
                </div>
            </div>

            <div class="row mb-1">
                
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnPrescriber" class="form-label">Prescriber</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnPrescriber" autocomplete="off" />
                </div>
                <div class="col-sm-3">
                    <label for="txtsMedicationPrnPrescriberSign" class="form-label">Prescriber Sign</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtsMedicationPrnPrescriberSign" autocomplete="off" />
                </div>
            </div>

            <div>
                <label id="lblMessage" style="color:green"></label>
                <button type="button" id="btnsSaveMedicationPrnAdmin" class="btn btn-primary" style="background-color:#FF8A30;float: right;">Save</button>
            </div>

        </div>
    </div>

    <div class="row section">
        <div class="col-md-12">
            <div id="divlstMedicationPrn"></div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#txtsMedicationPrnDate").datepicker({
            dateFormat: "yy-mm-dd" // Set the format here
        });

        var LabId = $('#txtLabId').val();
        var PatientId = $('#txtPatientId').val();

        $("#btnsSaveMedicationPrnAdmin").on("click", function (e) {
            e.preventDefault(); // Prevent default link behavior

            var ddlMedicationPrnName = $('#ddlMedicationPrnName').val();
            
            var txtsMedicationPrnDate = $('#txtsMedicationPrnDate').val() + "T00:00:00";
            var txtsMedicationPrnTime = $('#txtsMedicationPrnTime').val();
            var txtsMedicationPrnRoute = $('#txtsMedicationPrnRoute').val();

            var txtsMedicationPrnDose = $('#txtsMedicationPrnDose').val();
            var txtsMedicationPrnFrequency = $('#txtsMedicationPrnFrequency').val();
            var txtsMedicationPrnIndication = $('#txtsMedicationPrnIndication').val();

            var txtsMedicationPrnPharmacy = $('#txtsMedicationPrnPharmacy').val();
            var txtsMedicationPrnPrescriber = $('#txtsMedicationPrnPrescriber').val();
            var txtsMedicationPrnPrescriberSign = $('#txtsMedicationPrnPrescriberSign').val();

            if (txtsMedicationPrnDate === "" || txtsMedicationPrnDate === "T00:00:00" || ddlMedicationPrnName === "" || ddlMedicationPrnName === "--Select Medication--" || 
                txtsMedicationPrnTime === "" || txtsMedicationPrnRoute === "" 
                || txtsMedicationPrnDose === "" || txtsMedicationPrnFrequency === "" || txtsMedicationPrnIndication === "" || txtsMedicationPrnPharmacy === "" 
                || txtsMedicationPrnPrescriber ==="" || txtsMedicationPrnPrescriberSign === "" ) 
            {
                e.preventDefault();
                $('#lblMessage').text("Please fill in the missing fields.").css('color', 'red');
                return;
            }

            var toPost = {
                Id: 0,
                LabId: LabId,
                PatientId: PatientId,
                MedicationId: ddlMedicationPrnName,
                MedicationName: "",
                Dose: txtsMedicationPrnDose,
                DoseFrequency: txtsMedicationPrnFrequency,
                DoseDate: txtsMedicationPrnDate,
                DoseTime: txtsMedicationPrnTime,
                Indication: txtsMedicationPrnIndication,
                Route: txtsMedicationPrnRoute,
                Pharmacy: txtsMedicationPrnPharmacy,
                Prescriber: txtsMedicationPrnPrescriber,
                PrescriberSign: txtsMedicationPrnPrescriberSign
            };

            $.ajax({
                type: "POST",
                url: "/supervisor/addmedicationprnchart",
                contentType: "application/json",
                data: JSON.stringify(toPost), // Convert JavaScript object to JSON string
                success: function (response) {
                    if (response > 0) {
                        $('#lblMessage').text("Patient Medication - PRN record added successfully").css('color', 'green');
                        getMedicationPrnList();
                    } else {
                        $('#lblMessage').text("Error").css('color', 'red');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#error-message").text("Error occurred").css('color', 'red');
                }
            });
        });

        getMedicationPrnList();

        function getMedicationPrnList() {
            $.ajax({
                url: "/supervisor/getpatientmedicationprnlist",
                method: "GET",
                data: { labId: LabId, patientId: PatientId }, // Wrap Id in an object
                success: function (response) {
                    // Load the response into the right-side content area
                    $('#divlstMedicationPrn').html("");
                    $('#divlstMedicationPrn').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        }

    });
</script>
